.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
}

.card_row1 {
    display: flex;
    justify-content: space-between;
}

.card_row1 img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.card_row1 label {
    font-size: 16px;
    font-weight: 300;
    color: gray;
    text-transform: uppercase;

}

.profile {
    position: relative;
    cursor: pointer;
}

.active_circle {
    top: 15px;
    left: 15px;
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: orange;
    border-radius: 50%;
}

.card_row3 {
    display: flex;
}

.card_row3 img {
    height: 20px;
    cursor: pointer;
}

.card_row3_status {
    height: 8px;
    width: 8px;
    background-color: rgb(192, 186, 186);
    border-radius: 50%;
}

.card_row3 label {
    color: gray;
    margin-left: 5px;
}
.card_row3_inner {
    display: flex;
    justify-content: space-between;
}